body {
  /* background-color: #243547; */
  background-color: #002447;
  font-family: 'PT Sans Narrow';
}
table {
  background-color: #34495e;
  background-color: #002447;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'PT Sans Narrow';
  font-size: 22px;
  border-radius: 5px;
  margin-right: 1cm;
  margin-left: 1cm;
}
th,
td,
p,
h1,
label,
input {
  /* color: #d6cf58; */
  /* color: #002447; */
  color: #FBECEB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  background-color: #243547;
  /* border: 2px solid #00ff8c; */
  border: 2px solid #d6cf58;
  border: 2px solid #00ff8c;
  border-radius: 5px;
}
button {
  /* color: #d6cf58; */
  color: #00ff8c;
  background-color: #34495e;
  /* border: 2px solid #d6cf58; */
  border: 2px solid #00ff8c;
  padding: 10px;
  width: 3cm;
  margin-left: 1cm;
}
.but {
  float: left;
  width: 20%;
}
.suggstandrslt {
  float: left;
  width: 50%;
}
.chart {
  float: left;
  width: 50%;
}
#scr {
  size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #00ff8c;
  display: none;
  float: inline-end;
  width: 70%;
}
